html ,body{
    height: 100%;
    width: 100%;
    margin: 0px;
}


 @media all and (min-width : 1100px){
                #navbar{
            background-color: aqua;
                border: 1px solid rgb(227, 69, 69);
                display: grid;
                grid-template-columns: 1fr 3fr;
                grid-template-rows:100% ;
                align-items: center;
                height: 10%;
            } 
            #logo , img{
                height: 100%;
            }
            #menu{
                display: none;
            }
            #tabs{
                display: grid;
                grid-template-columns: repeat(6, 1fr);
                justify-items: center;
                font-size: 5vh;
            }
}

@media all and (max-width : 1100px){
    #navbar{
            background-color: aqua;
                border: 1px solid rgb(227, 69, 69);
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows:35% 65% ;
                align-items: center;
                height: 30%;
            } 
            #logo , img{
                height: 100%;
            }
            #menu{
            
                    display: grid;
                          justify-items: end;
                   align-items: center;
                   height: 100%;
            }
             #close{
               display: none;
            }
            #open{
                    height: 50%;
                    width: 12%;
                    font-size: 5vh;
            }
            #tabs{
                display: grid;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(3, 1fr);
                justify-items: center;
                font-size: 5vh;
                
            }
            #tabs>div{
                       display: grid;
        border: 1px solid rgb(172, 64, 64);
        width: 100%;
        justify-items: center;
            }
}

@media all and (max-width : 800px){
    #navbar{
            background-color: aqua;
                border: 1px solid rgb(227, 69, 69);
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows:35% 65% ;
                align-items: center;
                height: 55%;
            } 
            #logo , img{
                height: 100%;
            }
            #menu{
            
                    display: grid;
                          justify-items: end;
                   align-items: center;
                   height: 100%;
            }
             #close{
               display: none;
            }
            #open{
                    height: 50%;
                    width: 12%;
                    font-size: clamp(2rem, 2.5vw, 3.5rem);;
            }
            #tabs{
                display: grid;
                grid-column-start: 1;
                grid-column-end: 3;
                grid-template-columns: 1fr;
                grid-template-rows: repeat(6, 1fr);
                justify-items: center;
                font-size: 5vh;

                
            }
            #tabs>div{
                       display: grid;
        border: 1px solid rgb(172, 64, 64);
        width: 100%;
        justify-items: center;
            }
} 



